<template>
  <v-container>
    <div>
      <h2 class="text-center red--text">APROVECHA LOS MEJORES PRECIOS</h2>
      <h2 class="text-center red--text">QUE TENEMOS PARA TI</h2>

      <v-card width="400" class="mx-auto mt-12" elevation="12">
        <v-card-title class="justify-center">
          <h2 class="red--text">INGRESA TU DNI</h2>
          <p class="red--text">y obtén descuentos explosivos</p>
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid">
            <v-text-field
              v-model="login.username"
              label="Usuario"
              :counter="8"
              type="number"
              :rules="UserRules"
              prepend-icon="mdi-account"
              placeholder="Ejemplo:73130185"
            />
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-col class="text-center" cols="6" sm="12">
            <v-btn class="red--text" color="yellow" large :disabled="!valid" @click="userLogin">Ingresar</v-btn>
            <!--<v-btn color="info">Login</v-btn>-->
          </v-col>
        </v-card-actions>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import { mapActions} from 'vuex'
export default {
  layout: "login",
  data() {
    return {
      dialog: false,
      showPassword: false,
      login: {
        username: "11111111",
      },
      valid: true,
      UserRules: [
        (v) => !!v || "DNI requerido",
        (v) => (v && v.length == 8) || "Ingrese 8 caracteres",
      ],
    };
  },
  methods: {
    ...mapActions('user',['actualizarUser']),
    async userLogin() {
      localStorage.setItem('user',this.login.username)
      this.actualizarUser(this.login.username)
      this.$router.push("/products");
    },
  },
};
</script>
<style scoped>
  .v-card {
    border-radius: 1vmax;
  }
</style>