<template>
  <div>
    <h2 class="text-center blue--text" >¡Hola {{user}}!</h2>
    <v-card-actions class="justify-center">
      <v-btn color="info" large @click="cerrarSession">cerrar session</v-btn>
    </v-card-actions>
    <h2 class="red--text">Categorias</h2>
    <v-container
      fluid
      grid-list-md
    >
      <v-layout row wrap>
        <v-flex
          v-bind="{ [`xs3`]: true }"
          v-for="(category,index) in categories"
          :key="index"
        >
          <v-card 
            width="250"
            :loading="loading"
            @click="filterCategory(category)"
            elevation="12"
          >
            <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>
            <v-card-title 
              class="black--text mt-8"
            >
              <p class="ml-3">
                {{category}}
              </p>
            </v-card-title>
            <!-- <v-img
            height="200px"
            src="https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg"
            >
              <v-card-title class="white--text mt-8">
                <p class="ml-3">
                  John Doe {{products}}
                </p>
              </v-card-title>
            </v-img> -->
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container
      fluid
      grid-list-md
    >
      <v-layout row wrap>
        <v-flex
          v-bind="{ [`xs3`]: true }"
          v-for="(product,index) in productsFilter"
          :key="index"
        >
          <v-card
            class="mx-auto my-12"
            max-width="374"
            elevation="12"
          >
            <v-img
            height="250"
            :src="product.image"
            ></v-img>

            <v-card-title class="blue--text">{{product.title}}</v-card-title>
            <v-card-title class="red--text">.S/ {{product.price}}</v-card-title>
            <div class="grey--text ms-4">
              {{product.category}}
            </div>
            <div class="ms-4">{{product.description}}</div>
            
              <v-col class="text-center" cols="6" sm="12">
                <v-btn class="white--text" color="red" large  >Agregar</v-btn>
                <!--<v-btn color="info">Login</v-btn>-->
              </v-col>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex'
  export default {
    middleware:['redirigir'],
    data: () => ({
      selection: 1,
      loading:false,
      user:''
    }),
    computed:{
       ...mapGetters({ productsFilter: "products/getProductsFilter" }),
       ...mapGetters({ categories: "categories/getCategories"}),
    },
    methods:{
			...mapActions('products',['recuperarProducts','filterCategory']),
      ...mapActions('categories',['recuperarCategories']),
      ...mapActions('user',['actualizarUser']),
      cerrarSession(){
        localStorage.clear()
        this.$router.push("/");
      }
    },
    async created(){
      this.loading = true
      await this.recuperarCategories()
      await this.recuperarProducts()
      this.user=localStorage.getItem('user')
      this.loading = false
    }
  }
</script>
<style scoped>
  .v-card {
    border-radius: 1vmax;
  }
</style>